################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Xpaco/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
