/.vs
/Xpaco/obj/Debug 
/Xpaco/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Xpaco/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Xpaco/obj/Debug/Xpaco.csproj.AssemblyReference.cache
/Xpaco/obj/Debug/Xpaco.csprojAssemblyReference.cache
